<!DOCTYPE html>
<html lang="en">
<head>
	<title>CV RAnking System | Admin</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="../images/icons/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="../static/util.css">
	<link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
<!--===============================================================================================-->
</head>
<body>
	
	<header>
		<h1>CV Ranking System </h1>
	</header>

	<nav>
		<a href="{{ url_for('view_jobs') }}">View Jobs</a> &nbsp;&nbsp;&nbsp;
		<div class="dropdown">
			<div class="dropdown-content" style="margin-top: 30px;">
				<a href="{{ url_for('add_job') }}">Add Job</a>
				<a href="{{ url_for('update_job') }}">Update Job</a>
			</div>
			<button class="dropbtn">Add/Update Jobs
			  <i class="fa fa-caret-down"></i>
			</button>
		</div>&nbsp;&nbsp;&nbsp;
		<div class="dropdown">
			<div class="dropdown-content" style="margin-top: 30px;">
				<a href="{{ url_for('add_quiz') }}">Add Quiz</a>
				<a href="{{ url_for('update_quiz') }}">Remove Quiz</a>
			</div>
			<button class="dropbtn">Add/Remove Quiz
			  <i class="fa fa-caret-down"></i>
			</button>
		</div>&nbsp;&nbsp;&nbsp;
		<a href="{{ url_for('result') }}">View Result</a> &nbsp;&nbsp;&nbsp;
		<a href="{{ url_for('index') }}">Log Out</a>
	</nav>

	<main>
		<br><h2>All Jobs</h2>
		{% for jobId, jobTitle, companyName, minSalary, maxSalary, location_, jobDescription, skills_ in zip(job_id, job_title, company_name, min_salary, max_salary, location, job_description, skills) %}
		<div class="jp_job_post_main_wrapper_cont" style="width: 720px; margin-left: 410px; margin-top: 50px;">
			
			<div class="jp_job_post_main_wrapper">
				<div class="row">
					<div style="font-family: Raleway-SemiBold;" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
						<h4 style="font-family: Raleway-Bold;"><strong>Job ID: {{ jobId['job_id'] }}</strong></h4>
						<div class="jp_job_post_right_cont" style="margin-left: 30px;">
							<h4 style="font-family: Raleway-Bold;">{{ jobTitle['job_title'] }}</h4>
							<p>{{ companyName['company_name'] }}</p>
							<ul>
								<li><i class="fa fa-cc-paypal"></i>&nbsp; ${{ minSalary['min_salary'] }}K - ${{ maxSalary['max_salary']}}K P.A.</li>
								<li><i class="fa fa-map-marker"></i>&nbsp; {{ location_['location'] }}</li>
							</ul><br><br>
							<h4 style="font-family: Raleway-SemiBold;">Job Description</h4>
							<p style="color: black;">{{ jobDescription['job_description'] }}</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="jp_job_post_keyword_wrapper">
				<ul>
					<li><i class="fa fa-tags"></i>Skills Required :</li>
					<li><a href="#">{{ skills_['skills'] }}</a></li>
				</ul>
			</div>
			
		</div>
		{% endfor %}
	</main>
</body>
</html>