<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Ranking System | Admin Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>CV Ranking System</h1>
    </header>

    <nav>
        <a href="{{ url_for('index') }}">User Login</a>
        <a href="{{ url_for('admin_login') }}">Admin Login</a>
    </nav>
    
    <main>
        <section>
            <h2>User Registration</h2><br><br>
            <form id="login_form" class="reg_form" action="" method="post">
                <h3 id="form_text">Name: </h3><input type="text" name="user_name" id="reg_input" placeholder="Enter Full Name">
                <h3 id="form_text">Email: </h3><input type="email" name="user_email" id="reg_input" placeholder="Enter Email">
                <h3 id="form_text">Phone No.: </h3><input type="text" name="user_phno" id="reg_input" placeholder="Enter Phone Number">
                <h3 id="form_text">Password: </h3><input type="password" name="user_pass" id="reg_input" placeholder="Enter Password">
                <h3 id="form_text">Confirm Password: </h3><input type="password" name="confirm_pass" id="reg_input" placeholder="Enter Password again"><br><br>
                <input type="submit" value="Submit">

            </form>
        </section>
    </main>
</body>
</html>